<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://ai.roozbeh.realtor</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<!-- Google Sign-In -->
	<key>GIDClientID</key>
	<string>1096294149666-btv3qgr9kbem5j3uri7q53elrdlo5076.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1096294149666-btv3qgr9kbem5j3uri7q53elrdlo5076</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
